.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  max-width: 450px;
  margin: 40px auto;
  padding: 28px;
  border-radius: 18px;

  background: rgba(207, 87, 87, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.input {
  width: 100%;
  padding: 14px 18px;
  font-size: 16px;
  font-weight: 500;

  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);

  border-radius: 12px;

  outline: none;
  transition: 0.25s ease;
}

.input:focus {
  border-color: #4f46e5;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 8px rgba(79,70,229,0.4);
}

.error {
  color: #ef4444;
  font-size: 14px;
  text-align: center;
}

.button {
  padding: 14px 18px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s ease;
}

.button:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #4338ca, #4f46e5);
}
