.header {
  width: 95%;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(230, 236, 239, 0.881);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #4f46e5;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #374151;
  transition: 0.2s;
}

.nav a:hover {
  color: #4f46e5;
}
