.container {
  width: 100%;
  max-width: 900px;
  margin: 80px 200px;
  padding: 20px;


}

.heading {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #4f46e5;
}

.formBox {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.input {
  padding: 14px 18px;
  font-size: 16px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 280px;
  transition: 0.25s;
}

.input:focus {
  border-color: #4f46e5;
  background: white;
  box-shadow: 0 0 10px rgba(79,70,229,0.4);
}

.button {
  padding: 14px 22px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease;
}

.button:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #4338ca, #4f46e5);
}
